@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  background: #232526;
}

.cards {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paginationControls {
  background-color: white;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  border-radius: 3px;
  color: crimson;
  font-weight: bolder;
  font-family: "Kanit", sans-serif;
}

.paginationButton {
  width: 30px;
  height: 20px;
  background-color: crimson;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  font-family: "Kanit", sans-serif;
}

.paginationButton:hover {
  cursor: pointer;
  background-color: rgb(163, 15, 45);
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: #02172233;
  font-size: 40px;
  color: white;
  z-index: 100;
}
